
*{ 
 	padding:0px; 
 	margin:0px;
 	font-family: Arial, sans-serif;
 	font-size:13px;
 	line-height:140%;
}

.headline1
{
	font-size:17px;
	font-weight:bold;
	padding-bottom:8px;
	color:#4B788D;
}


.headline2
{
	font-size:14px;
	font-weight:bold;
	padding-bottom:8px;
	padding-top:20px;
	color:#4B788D;
}

#bodywrapper
{
	width:auto;
	height:500px;
}

#head
{
    width:auto;
    height:120px;
    margin-bottom:1px;
    background-image:url(graphics/hg_wave.png);
   	background-repeat:repeat-x;
    padding:35px 0px 0px 35px;
}


#main
{	
	width:auto;
	padding:45px 300px 60px 110px;
}

.maintxt
{
	font-size:12px;
	color:#2F3F47;
	width:auto;
	padding-bottom:24px;
}

.maincontent
{
	padding-left:25px;
}

/*----------------THEMEPICTURES--------------------*/
.firststep_pic
{
	width:300px;
	height:200px;
	background-image:url(graphics/firststeps.png);
	background-repeat:no-repeat;
}


.overview_pic
{
	width:300px;
	height:200px;
	background-image:url(graphics/overview.png);
	background-repeat:no-repeat;
}


.tutorial_pic
{
	width:300px;
	height:200px;
	background-image:url(graphics/tutorials.png);
	background-repeat:no-repeat;
}

.sample_pic
{
	width:300px;
	height:200px;
	background-image:url(graphics/sample.png);
	background-repeat:no-repeat;
}

.whatsnew_pic
{
	
}

.websources_pic
{
	width:300px;
	height:200px;
	background-image:url(graphics/websources.png);
	background-repeat:no-repeat;
}

.migrate_pic
{
	width:300px;
	height:200px;
	background-image:url(graphics/migrate.png);
	background-repeat:no-repeat;
}


#right
{
   width:200px;
   height:auto;
   float:right;
   margin-top:0px;
   background-image:url(graphics/plus.png);
   background-repeat:no-repeat;
   padding-bottom:25px;
}

#right_bluediv
{
	width:150px;
    height:30px;
    background-color:#2F3F47;
    margin:160px 25px 15px 25px;
    padding-top:10px;
}

.righttxt
{
	margin:5px 25px 5px 25px;
	font-size:11px;
	border-top-color:#2F3F47;
	border-top-style:solid;
	border-top-width:1px;
	border-bottom-color:#2F3F47;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-top:5px;	 
	padding-bottom:5px;
}

.rightheadline
{
	padding-left:20px;
	margin-top:-20px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
}



.tab
{
	padding-left:45px;
}
	

/*HYPERLINKS*/

a:link,
a:active,
a:visited {
	color: #801001;
	text-decoration: underline; 
   	font-weight:bold;
}

a:hover {	 
   	text-decoration:underline;
   	color: #EE412B;
}

/*HYPERLINKS FAQs*/

a.faq:link,
a.faq:active,
a.faq:visited {
	color: #2F3F47;
	text-decoration: underline; 
	font-weight:normal;
}

a.faq:hover {	 
   	text-decoration:underline;
   	color: #7D939A;
}


.list
{
	padding-left:20px;
	list-style-type:none;
	background-image:url(graphics/cube.gif);
  	background-repeat:no-repeat;
}




#gdlogo
{
	

}
	

#navi
{
	width:auto;
	height:20px;
	padding:0px 0px  20px 0px;	
}

.navipoint
{
	padding-right:10px;
}





	
	